{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/listas_verificacao.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    {% if user.is_teacher %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_professor' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:dashboard_professor' %}">
                            <i class="fas fa-tachometer-alt"></i> Painel de Controlo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_turmas' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_turmas' %}">
                            <i class="fas fa-users"></i> Turmas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'gerenciar_aprendizagens' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:gerenciar_aprendizagens' %}">
                            <i class="fas fa-book"></i> Aprendizagens
                        </a>
                    </li>
                    {% else %}
                    <!-- Menu do Aluno -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_aluno' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_aluno' %}">
                            <i class="fas fa-tasks"></i> Minhas Aprendizagens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_duvidas' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_duvidas' %}">
                            <i class="fas fa-question-circle"></i> Dúvidas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_diarios' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_diarios' %}">
                            <i class="fas fa-book-reader"></i> Diário de Aprendizagem
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_metas' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_metas' %}">
                            <i class="fas fa-bullseye"></i> Metas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_conquistas' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_conquistas' %}">
                            <i class="fas fa-trophy"></i> Conquistas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_projetos' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_projetos' %}">
                            <i class="fas fa-project-diagram"></i> Projetos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_circuitos' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_circuitos' %}">
                            <i class="fas fa-comments"></i> Circuitos de Comunicação
                        </a>
                    </li>
                    {% endif %}
                    <!-- Notificações (comum a todos) -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'lista_notificacoes' %}active{% endif %}" 
                           href="{% url 'listas_verificacao:lista_notificacoes' %}">
                            <i class="fas fa-bell"></i> Notificações
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Conteúdo principal -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block listas_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/listas_verificacao.js' %}"></script>
{% endblock %} 